.page-header {
  color: #fff;
  text-align: center;
  background-color: #159957;
  background-image: linear-gradient(120deg, #155799, #159957)
}

@media screen and (min-width: 64em) {
  .page-header {
    padding: 5rem 6rem
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .page-header {
    padding: 3rem 4rem
  }
}

@media screen and (max-width: 42em) {
  .page-header {
    padding: 2rem 1rem
  }
}

.project-name {
  margin-top: 0;
  margin-bottom: 0.1rem
}

@media screen and (min-width: 64em) {
  .project-name {
    font-size: 3.25rem
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-name {
    font-size: 2.25rem
  }
}

@media screen and (max-width: 42em) {
  .project-name {
    font-size: 1.75rem
  }
}

.project-tagline {
  margin-bottom: 2rem;
  font-weight: normal;
  opacity: 0.7
}

@media screen and (min-width: 64em) {
  .project-tagline {
    font-size: 1.25rem
  }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
  .project-tagline {
    font-size: 1.15rem
  }
}

@media screen and (max-width: 42em) {
  .project-tagline {
    font-size: 1rem
  }
}

body:not(.ready) .app-nav,
body:not(.ready) > nav {
  display: none;
}
.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 10;
/* navbar dropdown */
}
.app-nav.no-badge {
  margin-right: 25px;
}
.app-nav p {
  margin: 0;
}
.app-nav > a {
  margin: 0 1rem;
  padding: 5px 0;
}
.app-nav ul,
.app-nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}
.app-nav a:hover {
  color: var(--theme-color, #42b983);
}
.app-nav a.active {
  border-bottom: 2px solid var(--theme-color, #42b983);
  color: var(--theme-color, #42b983);
}
.app-nav li {
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 0;
  position: relative;
  cursor: pointer;
}
.app-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap;
}
.app-nav li ul li {
  display: block;
  font-size: 14px;
  line-height: 1rem;
  margin: 0;
  margin: 8px 14px;
  white-space: nowrap;
}
.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}
.app-nav li ul a.active {
  border-bottom: 0;
}
.app-nav li:hover ul {
  display: block;
}
@media print {
  .github-corner,
  .sidebar-toggle,
  .sidebar,
  .app-nav {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .app-nav.no-badge {
    margin-right: 0;
  }
  .app-nav {
    margin: 10px 0 0 0;
  }
  .app-nav li ul {
    top: 30px;
  }
  .app-nav {
    transition: transform 250ms ease-out;
  }
  .app-nav li ul {
    right: -5px;
    transform: translateY(5px);
  }
  body.close .app-nav {
    display: none;
  }
}
